@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #05386B;
}


/* SCROLL BAR */
body::-webkit-scrollbar {
    width: 6px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #05386B;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #011120;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */

}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* PROGRESS BAR */
#nprogress .bar {
    background-color: #1BD175 !important;
}

/* Signin Signup */
.acc {
    margin-left: 35vw;
    margin-right: 35vw;
}

/* REACT QUILL*/
.ql-toolbar {
    background-color: #f9fff6;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.ql-editor {
    background-color: #011120;
    font-family: 'Courier New', Courier, monospace;
}